.room {
    height: 5rem;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-left: 5em;
}

.room:hover {
    background-color: rgb(212, 212, 212);
}

.room.selected {
    background-color: lightblue;
}

.room>div {
    width: 100%;
}

.partner {
    font-size: 1.2rem;
    font-weight: bold;
}

.last-log {
    max-width: 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.last-log-at {
    font-weight: lighter;
}