@import "talk-bubble.css";
p.nickname {
    margin: 0;
    padding: 0 0 0 0.5rem;
    font-weight: bold;
}

.talk-bubble {
    margin: 0 0 0 1.5rem;
    word-wrap: normal;
}

.talk-bubble.mine {
    margin: 0 1.5rem 0 0;
}

.bubble-container {
    display: flex;
}

p.date {
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

p.date.mine {
    margin-left: auto;
    margin-right: 0.5em;
}