<div class="container" [class.mine]="isMine">
    <div class="face"></div>
    <div class="content">
        <p class="nickname" [innerHTML]="chat.nickname" *ngIf="!isMine"></p>
        <div class="bubble-container">
            <p class="date mine" *ngIf="isMine">{{ chat.created_at | date:'short' }}</p>
            <div class="talk-bubble round tri-right right-top" [class.mine]="isMine">
                <div class="talktext">
                    <p>
                        {{chat.message}}
                    </p>
                </div>
            </div>
            <p class="date" *ngIf="!isMine">{{ chat.created_at | date:'short' }}</p>
        </div>
    </div>
</div>